@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<h3>Dashboards</h3>
<a class="nav-link" asp-area="" asp-controller="Viewer" asp-action="Index" asp-route-id="DashboardChristmas">Christmas</a>
<a class="nav-link" asp-area="" asp-controller="Viewer" asp-action="Index" asp-route-id="DashboardEmergencyKPI">Emergency KPI</a>
<a class="nav-link" asp-area="" asp-controller="Viewer" asp-action="Index" asp-route-id="DashboardExchangeTenders">Exchange Tenders</a>
<a class="nav-link" asp-area="" asp-controller="Viewer" asp-action="Index" asp-route-id="DashboardFinancial">Financial</a>
<a class="nav-link" asp-area="" asp-controller="Viewer" asp-action="Index" asp-route-id="DashboardSummary">Summary</a>
